BeliefDataSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="BeliefAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Belief" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Statement" type="xs:string"/>
              <xs:element name="Score" type="xs:decimal"/>
              <xs:element name="Impact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StrengthenPercentage" type="xs:string"/>
                    <xs:element name="WeakenPercentage" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reasons">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Agree" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reason" minOccurs="1" maxOccurs="unbounded" type="ReasonType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Disagree" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reason" minOccurs="1" maxOccurs="unbounded" type="ReasonType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ReasonType">
    <xs:sequence>
      <xs:element name="Statement" type="xs:string"/>
      <xs:element name="Score" type="xs:decimal"/>
      <xs:element name="LinkageScore" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
