src/core/schemas/belief-data.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ═══ Belief Analysis Document ═══
       The normalized graph shape the pipeline emits and the Prisma schema
       stores: Belief NODES carry scores; Arguments are EDGES joining a
       reason to its conclusion; EvidenceRecords tie sources to the
       conclusions they support or weaken (the link that makes automatic
       updating possible: when a source's tier changes, every dependent
       conclusion recomputes); FallacyClaims are structured accusations
       against an edge; GroupingCandidates are same-claim pairs awaiting the
       community grouping vote. belief-outline-data.xml is the worked
       example; belief-html.converter.xslt renders this shape. -->
  <xs:element name="BeliefAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Beliefs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Belief" minOccurs="1" maxOccurs="unbounded" type="BeliefType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Arguments" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="SupportingArgument" type="SupportingArgumentType"/>
                <xs:element name="WeakeningArgument"  type="WeakeningArgumentType"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Links" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Link" minOccurs="0" maxOccurs="unbounded" type="LinkType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Evidence linked to the conclusions it supports or weakens.
             Mirrors the Prisma Evidence model and the evidence API routes. -->
        <xs:element name="EvidenceRecords" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EvidenceRecord" minOccurs="0" maxOccurs="unbounded" type="EvidenceRecordType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Structured fallacy accusations against argument edges. -->
        <xs:element name="FallacyClaims" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FallacyClaim" minOccurs="0" maxOccurs="unbounded" type="FallacyClaimType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Same-claim pairs awaiting (or settled by) the grouping vote. -->
        <xs:element name="GroupingCandidates" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Candidate" minOccurs="0" maxOccurs="unbounded" type="GroupingCandidateType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ═══ Belief node ═══ -->
  <xs:complexType name="BeliefType">
    <xs:sequence>
      <xs:element name="BeliefID"  type="xs:string"  minOccurs="0"/>
      <xs:element name="Statement" type="xs:string"/>
      <xs:element name="Category"  type="xs:string"  minOccurs="0"/>
      <xs:element name="Subcategory" type="xs:string" minOccurs="0"/>
      <xs:element name="DeweyNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentID"  type="xs:string"  minOccurs="0"/>
      <!-- supporting | weakening | root -->
      <xs:element name="Side"      type="xs:string"  minOccurs="0"/>
      <xs:element name="Positivity" type="xs:decimal" minOccurs="0"/>
      <xs:element name="Score"     type="xs:decimal" minOccurs="0"/>
      <xs:element name="ClaimStrength" type="xs:decimal" minOccurs="0"/>
      <!-- Engine-computed node scores (audit-locked: never hand-edited). -->
      <xs:element name="TruthScore"      type="xs:decimal" minOccurs="0"/>
      <xs:element name="LinkageScore"    type="xs:decimal" minOccurs="0"/>
      <xs:element name="ImportanceScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="UniquenessScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="ReasonRank"      type="xs:decimal" minOccurs="0"/>
      <xs:element name="PropagatedScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="SourceUrl"    type="xs:string" minOccurs="0"/>
      <!-- T0..T4 evidence tier (T0 = retracted/fraudulent) -->
      <xs:element name="EvidenceType" type="xs:string" minOccurs="0"/>
      <xs:element name="Falsifiability" type="xs:string" minOccurs="0"/>

      <!-- Definitions section (template v2) -->
      <xs:element name="Definitions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Definition" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Term"       type="xs:string"/>
                  <xs:element name="Definition" type="xs:string"/>
                  <xs:element name="SortOrder"  type="xs:integer" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Testable Predictions section (template v2) -->
      <xs:element name="TestablePredictions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Prediction" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Statement"          type="xs:string"/>
                  <xs:element name="Timeframe"          type="xs:string" minOccurs="0"/>
                  <xs:element name="VerificationMethod" type="xs:string" minOccurs="0"/>
                  <xs:element name="SortOrder"          type="xs:integer" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Impact" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StrengthenPercentage" type="xs:string"/>
            <xs:element name="WeakenPercentage"     type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Reasons" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Agree" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Reason" minOccurs="1" maxOccurs="unbounded" type="ReasonType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Disagree" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Reason" minOccurs="1" maxOccurs="unbounded" type="ReasonType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══ Argument edges (reason → conclusion) ═══ -->
  <xs:complexType name="SupportingArgumentType">
    <xs:sequence>
      <xs:element name="ArgumentID"           type="xs:string" minOccurs="0"/>
      <xs:element name="ConclusionID"         type="xs:string"/>
      <xs:element name="SupportingArgumentID" type="xs:string"/>
      <xs:element name="LinkageScore"    type="xs:decimal" minOccurs="0"/>
      <xs:element name="ImportanceScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="UniquenessScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="PropagatedScore" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WeakeningArgumentType">
    <xs:sequence>
      <xs:element name="ArgumentID"          type="xs:string" minOccurs="0"/>
      <xs:element name="ConclusionID"        type="xs:string"/>
      <xs:element name="WeakeningArgumentID" type="xs:string"/>
      <xs:element name="LinkageScore"    type="xs:decimal" minOccurs="0"/>
      <xs:element name="ImportanceScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="UniquenessScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="PropagatedScore" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinkType">
    <xs:sequence>
      <xs:element name="LinkID"               type="xs:string"/>
      <xs:element name="IfThisBeliefWereTrueID" type="xs:string"/>
      <xs:element name="AffectedBeliefID"     type="xs:string"/>
      <!-- Supporting | Weakening -->
      <xs:element name="LinkType"             type="xs:string"/>
      <xs:element name="JustificationText"    type="xs:string" minOccurs="0"/>
      <xs:element name="OtherNecessaryLinkBeliefIDs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BeliefID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══ Evidence records (evidence → conclusion links) ═══
       One row per source per conclusion. The Tier is a CLASSIFICATION
       (community-correctable: a retraction reclassifies T1 → T0); EVS and
       ImpactScore are ENGINE OUTPUTS (audit-locked, never hand-edited):
         EVS    = ESIW × log2(ERQ + 1) × ECRS × ERP
         Impact = EVS × LinkageScore × 10
       TierHistory is the retraction ledger: every tier movement, with the
       reason, stays on the record so readers see why scores moved. -->
  <xs:complexType name="EvidenceRecordType">
    <xs:sequence>
      <xs:element name="EvidenceID" type="xs:string" minOccurs="0"/>
      <!-- The conclusion this evidence is linked to. -->
      <xs:element name="BeliefID"   type="xs:string"/>
      <!-- supporting | weakening -->
      <xs:element name="Side"        type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="SourceUrl"   type="xs:string" minOccurs="0"/>
      <xs:element name="DOI"         type="xs:string" minOccurs="0"/>
      <!-- T1 peer-reviewed | T2 expert | T3 journalism | T4 opinion |
           T0 retracted/fraudulent -->
      <xs:element name="Tier"        type="xs:string"/>
      <!-- Classification inputs (ESIW is derived from Tier by the engine). -->
      <xs:element name="SourceIndependenceWeight" type="xs:decimal" minOccurs="0"/>
      <xs:element name="ReplicationQuantity"      type="xs:integer" minOccurs="0"/>
      <xs:element name="ConclusionRelevance"      type="xs:decimal" minOccurs="0"/>
      <xs:element name="ReplicationPercentage"    type="xs:decimal" minOccurs="0"/>
      <xs:element name="LinkageScore"             type="xs:decimal" minOccurs="0"/>
      <!-- Engine outputs (audit-locked). -->
      <xs:element name="EVS"         type="xs:decimal" minOccurs="0"/>
      <xs:element name="ImpactScore" type="xs:decimal" minOccurs="0"/>
      <!-- The retraction ledger. -->
      <xs:element name="TierHistory" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TierChange" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FromTier"  type="xs:string"/>
                  <xs:element name="ToTier"    type="xs:string"/>
                  <xs:element name="Reason"    type="xs:string"/>
                  <xs:element name="ChangedAt" type="xs:date" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══ Structured fallacy claims ═══
       Mirrors the FallacyClaim / FallacyClaimVote tables: the six required
       template fields, the consensus state, and the weighted votes. Filing
       never changes a score; Status moves only by weighted community
       consensus (>= 60%, quorum 3). -->
  <xs:complexType name="FallacyClaimType">
    <xs:sequence>
      <xs:element name="FallacyClaimID"   type="xs:string" minOccurs="0"/>
      <!-- The accused edge: ConclusionID + ArgumentID identify it. -->
      <xs:element name="TargetConclusionID" type="xs:string"/>
      <xs:element name="TargetArgumentID"   type="xs:string"/>
      <!-- Catalog slug, e.g. false-dilemma, straw-man, cherry-picking. -->
      <xs:element name="FallacyType"  type="xs:string"/>
      <!-- relevance | logical-validity | evidence-quality -->
      <xs:element name="TargetFactor" type="xs:string"/>
      <!-- minor | major -->
      <xs:element name="Severity"     type="xs:string"/>
      <!-- The six-field accusation template (all required to file). -->
      <xs:element name="QuotedText"      type="xs:string"/>
      <xs:element name="Explanation"     type="xs:string"/>
      <xs:element name="MissingElements" type="xs:string"/>
      <xs:element name="EvidenceLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EvidenceLink" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Label"      type="xs:string"/>
                  <xs:element name="Url"        type="xs:string" minOccurs="0"/>
                  <xs:element name="BeliefSlug" type="xs:string" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Consequences" type="xs:string"/>
      <!-- open | confirmed | rejected -->
      <xs:element name="Status"    type="xs:string"/>
      <!-- Weighted agreement share at last resolution (0-1). -->
      <xs:element name="Consensus" type="xs:decimal" minOccurs="0"/>
      <xs:element name="Votes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Vote" minOccurs="0" maxOccurs="unbounded" type="WeightedVoteType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══ Grouping candidates (same claim, different words) ═══
       Mirrors EquivalenceCandidate / GroupingVote: the redundancy scan
       proposes the pair; the community vote settles it. -->
  <xs:complexType name="GroupingCandidateType">
    <xs:sequence>
      <xs:element name="CandidateID"        type="xs:string" minOccurs="0"/>
      <xs:element name="NewArgumentID"      type="xs:string"/>
      <xs:element name="ExistingArgumentID" type="xs:string"/>
      <xs:element name="Similarity"         type="xs:decimal"/>
      <!-- same-claim | probable-group | related-link | distinct -->
      <xs:element name="Band"               type="xs:string" minOccurs="0"/>
      <!-- open | grouped | kept-separate -->
      <xs:element name="Status"             type="xs:string"/>
      <xs:element name="Consensus"          type="xs:decimal" minOccurs="0"/>
      <xs:element name="Votes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Vote" minOccurs="0" maxOccurs="unbounded" type="WeightedVoteType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- One weighted community vote. Weight is the voter's caller-credibility
       multiplier (accuracy × cross-partisan balance, clamped to [0.3, 1.4]),
       computed from their track record — never submitted. -->
  <xs:complexType name="WeightedVoteType">
    <xs:sequence>
      <xs:element name="UserID"    type="xs:string"/>
      <xs:element name="Agree"     type="xs:boolean"/>
      <xs:element name="Weight"    type="xs:decimal" minOccurs="0"/>
      <xs:element name="Reasoning" type="xs:string"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══ Equivalence Analysis Document ═══ -->
  <xs:element name="EquivalenceAnalysisDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EquivalenceAnalysis" minOccurs="1" maxOccurs="unbounded" type="EquivalenceAnalysisType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ═══ Shared Complex Types ═══ -->

  <xs:complexType name="ReasonType">
    <xs:sequence>
      <xs:element name="Statement"     type="xs:string"/>
      <xs:element name="Score"         type="xs:decimal"/>
      <xs:element name="LinkageScore"  type="xs:decimal"/>
      <xs:element name="ImportanceScore" type="xs:decimal" minOccurs="0"/>
      <xs:element name="ContributionScore" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SynonymClaimType">
    <xs:sequence>
      <xs:element name="XTerm"                type="xs:string"/>
      <xs:element name="YTerm"                type="xs:string"/>
      <xs:element name="MerriamWebster"       type="xs:boolean" minOccurs="0"/>
      <xs:element name="Oxford"               type="xs:boolean" minOccurs="0"/>
      <xs:element name="WordNet"              type="xs:boolean" minOccurs="0"/>
      <xs:element name="EmbeddingModel"       type="xs:boolean" minOccurs="0"/>
      <xs:element name="AgreementNumerator"   type="xs:integer" minOccurs="0"/>
      <xs:element name="AgreementDenominator" type="xs:integer" minOccurs="0"/>
      <xs:element name="AgreementRate"        type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SemanticMapEntryType">
    <xs:sequence>
      <xs:element name="XElement"     type="xs:string"/>
      <xs:element name="YElement"     type="xs:string"/>
      <!-- identical | synonym | antonym | different -->
      <xs:element name="Relationship" type="xs:string"/>
      <xs:element name="Notes"        type="xs:string" minOccurs="0"/>
      <xs:element name="SortOrder"    type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EquivalenceReasonType">
    <xs:sequence>
      <xs:element name="ReasonType"      type="xs:string"/>
      <xs:element name="Side"            type="xs:string"/>
      <xs:element name="Statement"       type="xs:string"/>
      <xs:element name="TruthScore"      type="xs:decimal" minOccurs="0"/>
      <xs:element name="LinkageScore"    type="xs:decimal" minOccurs="0"/>
      <xs:element name="ImportanceScore" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArgumentBattleItemType">
    <xs:sequence>
      <!-- pro_equivalence | anti_equivalence -->
      <xs:element name="Side"              type="xs:string"/>
      <xs:element name="Statement"         type="xs:string"/>
      <xs:element name="TruthScore"        type="xs:decimal" minOccurs="0"/>
      <xs:element name="LinkageScore"      type="xs:decimal" minOccurs="0"/>
      <xs:element name="ImportanceScore"   type="xs:decimal" minOccurs="0"/>
      <xs:element name="ContributionScore" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NetworkPositionType">
    <xs:sequence>
      <!-- upstream | downstream | evidence -->
      <xs:element name="PositionType"   type="xs:string"/>
      <xs:element name="BeliefXItems"   type="xs:string" minOccurs="0"/>
      <xs:element name="BeliefYItems"   type="xs:string" minOccurs="0"/>
      <xs:element name="OverlapPercent" type="xs:decimal" minOccurs="0"/>
      <xs:element name="SameCluster"    type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EquivalenceAnalysisType">
    <xs:sequence>
      <xs:element name="Slug"    type="xs:string"/>
      <xs:element name="Version" type="xs:string" minOccurs="0"/>

      <!-- Step 1: Raw Beliefs -->
      <xs:element name="BeliefXRaw"        type="xs:string"/>
      <xs:element name="BeliefXNormalized" type="xs:string" minOccurs="0"/>
      <xs:element name="BeliefXSource"     type="xs:string" minOccurs="0"/>
      <xs:element name="BeliefYRaw"        type="xs:string"/>
      <xs:element name="BeliefYNormalized" type="xs:string" minOccurs="0"/>
      <xs:element name="BeliefYSource"     type="xs:string" minOccurs="0"/>

      <!-- Step 2: Fast Path -->
      <xs:element name="FastPathPassed" type="xs:boolean"/>
      <xs:element name="AutoMerge"      type="xs:boolean"/>

      <!-- Step 5: Synonym Convergence -->
      <xs:element name="SynonymConvergenceScore" type="xs:decimal"/>
      <xs:element name="SynonymClaims" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SynonymClaim" minOccurs="0" maxOccurs="unbounded" type="SynonymClaimType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Step 6: Strength Delta -->
      <xs:element name="CertaintyDeltaX"      type="xs:string"  minOccurs="0"/>
      <xs:element name="CertaintyDeltaY"      type="xs:string"  minOccurs="0"/>
      <xs:element name="CertaintyDelta"       type="xs:decimal" minOccurs="0"/>
      <xs:element name="ScopeDeltaX"          type="xs:string"  minOccurs="0"/>
      <xs:element name="ScopeDeltaY"          type="xs:string"  minOccurs="0"/>
      <xs:element name="ScopeDelta"           type="xs:decimal" minOccurs="0"/>
      <xs:element name="ForceDeltaX"          type="xs:string"  minOccurs="0"/>
      <xs:element name="ForceDeltaY"          type="xs:string"  minOccurs="0"/>
      <xs:element name="ForceDelta"           type="xs:decimal" minOccurs="0"/>
      <xs:element name="OverallStrengthDelta" type="xs:decimal"/>

      <!-- Step 4: Semantic Map -->
      <xs:element name="SemanticMap" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded" type="SemanticMapEntryType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Step 7: Structural Relationship -->
      <!-- same_claim | same_topic_different_claim | subset | different_topic -->
      <xs:element name="StructuralRelationship" type="xs:string"/>

      <!-- Step 8: Overlap Score -->
      <xs:element name="SubjectOverlap"   type="xs:decimal"/>
      <xs:element name="PredicateOverlap" type="xs:decimal"/>
      <xs:element name="ContextOverlap"   type="xs:decimal"/>
      <xs:element name="MechanismOverlap" type="xs:decimal"/>
      <xs:element name="OverlapScore"     type="xs:decimal"/>

      <!-- Step 9: Non-Equivalence Penalties -->
      <xs:element name="PenaltyDifferentCausal"      type="xs:decimal"/>
      <xs:element name="PenaltyDifferentEvidence"    type="xs:decimal"/>
      <xs:element name="PenaltyDifferentAssumptions" type="xs:decimal"/>
      <xs:element name="PenaltyDifferentPolicy"      type="xs:decimal"/>
      <xs:element name="TotalPenalty"                type="xs:decimal"/>

      <!-- Step 10: Argument Battle -->
      <xs:element name="ProEquivalenceScore"  type="xs:decimal"/>
      <xs:element name="AntiEquivalenceScore" type="xs:decimal"/>
      <xs:element name="ArgumentBalance"      type="xs:decimal"/>
      <xs:element name="ArgumentBattle" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Item" minOccurs="0" maxOccurs="unbounded" type="ArgumentBattleItemType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Step 11: Evidence/Argument Overlap -->
      <xs:element name="EvidenceArgumentOverlapRate" type="xs:decimal"/>

      <!-- Step 12: Final Score -->
      <xs:element name="NetworkAdjustment"     type="xs:decimal"/>
      <xs:element name="FinalEquivalenceScore" type="xs:decimal"/>

      <!-- Step 13: Verdict -->
      <!-- merge | merge_with_note | link | separate -->
      <xs:element name="Verdict"       type="xs:string"/>
      <xs:element name="CanonicalPage" type="xs:string" minOccurs="0"/>
      <xs:element name="LinkageScore"  type="xs:decimal" minOccurs="0"/>

      <!-- Step 14: Network Positions -->
      <xs:element name="NetworkPositions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Position" minOccurs="0" maxOccurs="unbounded" type="NetworkPositionType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Step 15: Audit -->
      <!-- human | ai | hybrid -->
      <xs:element name="AnalystType"  type="xs:string"/>
      <xs:element name="AnalystId"    type="xs:string" minOccurs="0"/>
      <xs:element name="Confidence"   type="xs:string"/>
      <xs:element name="ReviewedBy"   type="xs:string" minOccurs="0"/>
      <xs:element name="ReviewDate"   type="xs:date"   minOccurs="0"/>
      <xs:element name="TriggerReason" type="xs:string" minOccurs="0"/>
      <xs:element name="AnalysisDate" type="xs:date"/>

      <!-- Reasons for judgments (Steps 3, 7, 9, 13) -->
      <xs:element name="JudgmentReasons" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Reason" minOccurs="0" maxOccurs="unbounded" type="EquivalenceReasonType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
